<!DOCTYPE html>
<html>
  <head>
    <title>Reset Password</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container mt-5">
      <h2>Reset Password</h2>
      <form id="resetForm">
        <input type="hidden" name="userId" value="<%= userId %>" />
        <div class="form-group">
          <label for="currentPassword">Current Password:</label>
          <input
            type="password"
            class="form-control"
            id="currentPassword"
            name="currentPassword"
            placeholder="Enter current password"
          />
        </div>
        <div class="form-group">
          <label for="newPassword">New Password:</label>
          <input
            type="password"
            class="form-control"
            id="newPassword"
            name="newPassword"
            placeholder="Enter new password"
          />
        </div>
        <div class="form-group">
          <label for="repeatNewPassword">Repeat New Password:</label>
          <input
            type="password"
            class="form-control"
            id="repeatNewPassword"
            name="repeatNewPassword"
            placeholder="Repeat new password"
          />
        </div>
        <button type="submit" class="btn btn-primary">Reset Password</button>
      </form>
    </div>

    <script>
      document
        .getElementById('resetForm')
        .addEventListener('submit', function (event) {
          event.preventDefault();

          var userId = document.querySelector('input[name="userId"]').value;
          var currentPassword =
            document.getElementById('currentPassword').value;
          var newPassword = document.getElementById('newPassword').value;
          var repeatNewPassword =
            document.getElementById('repeatNewPassword').value;

          if (newPassword !== repeatNewPassword) {
            alert('New passwords do not match.');
            return;
          }

          var formData = {
            currentPassword,
            newPassword,
            repeatNewPassword,
          };

          var jwt = document.cookie
            .split('; ')
            .find((row) => row.startsWith('jwt='))
            .split('=')[1];

          fetch('/auth/reset-password/' + userId, {
            method: 'PATCH',
            headers: {
              'Content-Type': 'application/json',
              Authorization: 'Bearer ' + jwt,
            },
            body: JSON.stringify(formData),
          })
            .then(function (response) {
              if (response.ok) {
                document.cookie =
                  'jwt=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;';
                window.location.href = '/login';
              } else {
                response.json().then(function (data) {
                  alert('Error: ' + data.message);
                });
              }
            })
            .catch(function (error) {
              console.log('Error:', error);
            });
        });
    </script>
  </body>
</html>
